<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>168855959811-a92k128mppopbt7en86s23ddokn6n3h7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.168855959811-a92k128mppopbt7en86s23ddokn6n3h7</string>
	<key>API_KEY</key>
	<string>AIzaSyBWu0zcRce47t-pYQapPb4Yab_T9Vvt0Ck</string>
	<key>GCM_SENDER_ID</key>
	<string>168855959811</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.jobApp</string>
	<key>PROJECT_ID</key>
	<string>jobapp-3ce29</string>
	<key>STORAGE_BUCKET</key>
	<string>jobapp-3ce29.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:168855959811:ios:01e5d1478e625ccb581136</string>
</dict>
</plist>